/* main */

* {padding: 0;
  margin: 0;
  border: 0;
  font-family: "Nimbus Sans";
}

*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Nimbus Sans"; */
  /* max-width: 1920px;
  max-height: 4320px;
  max-width: 100%; */
  /* color: #0f0f0f; */
  /* text-decoration: none;
  list-style-type: none;
  box-sizing: content-box;
} */

@font-face {
  font-family: "Nimbus Sans";
  src:
  url("fonts/NimbusSanL-Reg.ttf") format("truetype"),
  url("fonts/NimbusSanL-Reg.woff") format("woff"),
  url("fonts/NimbusSanL-Reg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  max-width: 1920px;
  max-height: 4828px;
  /* width: 100%; */
  margin: 0 auto;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 1920px;
  /* width: 1797px; */
  height: 64px;
  margin: 0 auto;
  /* margin: 11px 59px 0px 64px; */
  z-index: 99;
  overflow: hidden;
}

.header__black {
  position: fixed;
  top: 0;
  display: flex;
  width: 1920px;
  height: 64px;
  margin: 0 auto;
  color: #0F0F0F;
  z-index: 99;
  background-color: #FAFAFA;
  /* min-height: 100%;
  width: 1797px;
  margin-left: 64px;
  margin-right: 59px; */

}

.header__logo {
  width: 139px;
  height: 41px;
  margin: 11px 146px 0px 64px;
  /* margin-right: ; */
}

.header__nav {
  width: 1495px;
  height: 30px;
  display: flex;
  margin-top: 13px;
}

.header__nav_black {
  width: 1495px;
  height: 30px;
  display: flex;
  margin-top: 13px;
}

.main__text_style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  color: #FAFAFA;
}

.main__text_style_black {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  color: #0F0F0F;
}

/* .header:hover {
  height: 64px;
  width: 1920px;
  position: fixed;
  left: 0;
  background: none;
  transition: all 0.3s ease;
} */
/*
.header:hover {
  background-color: #FAFAFA;
} */

/* .header button:focus {
  color: #0F0F0F;
  background-color: #FAFAFA;
} */

button:focus {
  border: 0.5px solid #0F0F0F;
  border-radius: 100px/47px;
  color: #0F0F0F;
  /* background-color: #FAFAFA; */
}

/* .header:hover img{
  filter: invert(100%);
} */

.logo_w:hover a {
  border: none;
}

.btn {
  outline: none;
  border: 0px;
  background: transparent;
}

.header__nav_brands {
  /* color: #FAFAFA; */
  /* margin-top: 13px; */
  margin-right: 15px;
  padding: 6px 16px 1px 17px;
}

.header__nav_brands ::before {
  padding: -6px -16px -1px -17px;
}

.dropdown-menu__wrapper {
  max-width: 1920px;
  height: 508px;
  /* margin: 0 auto; */
  margin-top: 64px;
  background-color: #FAFAFA;
  display: flex;
  position: absolute;
  z-index: 5;
}

.dropdown-menu__container {
  width: 920px;
  height: 484px;
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;
  letter-spacing: 0.006em;
  z-index: 5;
}

.dropdown-menu__container-photo {
  width: 960px;
  height: 508px;
}

.dropdown-menu__item-box {
  width: 282px;
  height: 35px;
  margin-top: 24px;
}

.dropdown-menu__column {
  margin-right: 20px;
}

.dropdown-menu__column li a {
  width: 282px;
  height: 35px;
  color: #0F0F0F;
}

.header__nav_category {
  margin-top: 13px;
  margin-right: 379px;
  padding: 6px 11px 1px 13px;
}

.header__nav_subcribe {
  margin-top: 13px;
  margin-right: 463px;
  padding: 6px 12px 0px;
}

.header__nav_login {
  margin-top: 11px;
  margin-right: 11px;
  padding: 7px 18px 0px;
}

.header__nav_wishes {
  margin-top: 10px;
  margin-right: 20px;
  padding: 6px 15px 1px;
}

.header__nav_cart {
  margin-top: 9px;
  padding: 6px 15px 1px;
}

/* .main__container {
    width: 1797px;
    height: 4309px;
    margin-top: 11px;
    margin-right: 59px;
    margin-left: 64px;
} */

/* .main__page {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
} */

.counter {
  position: fixed;
  width: 80px;
  height: 72px;
  color: #FFF;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.38px;
  line-height: 111.9%;
  margin-top: 956px;
  margin-left: 1763px;
}

.section__page_pic {
  width: 1920px;
  height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: 1; */
}

.section_1 {
  background-image: url(img/scroll_1_fot0.jpg);
}

.section_2 {
  background-image: url(img/scroll_2_fot0.jpg);
}

.section_3 {
  background-image: url(img/scroll_3_fot0.jpg);
}

.section_4 {
  background-image: url(img/scroll_4_fot0.jpg);
  position: sticky;
  /* top: 0; */
  z-index: 3;
}

.section__page-text_h1 {
  position: relative;
  color: #FAFAFA;
  font-size: 288px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.73px;
  line-height: 227.23px;
  text-align: left;
  text-transform: uppercase;
  z-index: 4;
}

.section__page-text_h2 {
  position: relative;
  width: 552px;
  height: 63px;
  left: 1325px;
  top: 502px;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.006em;
  color: #FAFAFA;
  z-index: 2;
}

.main__text-page_1 {
  width: 1856px;
  height: 443px;
  top: 114px;
  left: 46px;
  z-index: 4;
}

.main__text-page_2 {
  width: 1797px;
  height: 222px;
  top: 760px;
  left: 62px;
}

.main__text-page_3 {
  width: 1541px;
  height: 448px;
  top: 114px;
  left: 46px;
}

.main__text-page_4 {
  width: 1836px;
  height: 629px;
  top: 114px;
  left: 46px;
}

.extra__text-style {
  position: relative;
}

.extra__text-page_1 {
  width: 667px;
  height: 17px;
  top: 496px;
  left: 64px;
}

.extra__text-page_2 {
  width: 686px;
  height: 50px;
  top: 700px;
  left: 64px;
}

.extra__text-page_3 {
  width: 1792px;
  height: 28px;
  top: 96px;
  left: 64px;
}

.link__text-page_3 {
  position: relative;
  width: 528px;
  height: 15px;
  top: 465px;
  left: 64px;
}

.extra__text-page_4 {
  width: 1792px;
  height: 53px;
  top: 250px;
  left: 64px;
}

/*     footer style     */

.footer {
  /* position: relative; */
  /* bottom: -508px; */
  /* left: 0; */
  width: 1920px;
  height: 508px;
  background-color: #0f0f0f;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* z-index: -1; */
  /* position: absolute; */
  left: 0;
  z-index: 5;
  /* display: flex; */
  flex-direction: column;
  transition: bottom 0.3s ease-out;
  overflow: auto;
}

.footer__menu {
  height: 450px;
  margin-top: 58px;
  margin-left: 64px;
  display: inline-flex;
}

.footer__menu-link p{
  margin-bottom: 20px;
}

.footer__menu-block_1 {
  margin-right: 218px;
}

.footer__menu-block_1 li{
  margin-bottom: 20px;
}

.footer__menu-block_2 {
  margin-right: 104px;
}

.footer__menu-block_2 li{
  margin-bottom: 20px;
}

.footer__menu-block_3 {
  margin-right: 100px;
}

.footer__menu-block_3 li{
  margin-bottom: 20px;
}

.footer__menu-big-link {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.006em;
  color: #FAFAFA;
  /* margin-bottom: 32px; */
}

.footer__menu-big-link_black {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.006em;
  color: #0F0F0F;
  /* margin-bottom: 32px; */
}

/*   cookies style   */

.cookies {
  width: 1920px;
  height: 508px;
  background-color: #0F0F0F;
}

.cookies_text {
  position: absolute;
  width: 1703.55px;
  height: 202.58px;
  margin-left: 96.2px;
  margin-top: 65.45px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.006em;
  text-transform: uppercase;
  text-align: justify;
  color: #FFF;
}

.close_btn {
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 350.61px 936px 109.39px 936px;
  background-image: url("btns/btn_close_wht.png");
  border-radius: 50%;
  outline: none;
  border: 0px;
  background: #0F0F0F;
}

/* 404 */

.container_404 {
  /* position: absolute; */
  width: 1920px;
  height: 1080px;
  background-color: #FAFAFA;
  /* z-index: 2; */
}

.error_404 {
  position: absolute;
  height: 220px;
  width: 522px;
  margin: 347px 102px 0 346px;
  font-size: 288px;
  font-style: normal;
  font-weight: 400;
  line-height: 227px;
  text-align: left;
}

.text_404 {
  position: absolute;
  width: 700px;
  height: 43px;
  margin-left: 970px;
  margin-top: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #0F0F0F;
}



/* about us */

.container__info-pages {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: #FAFAFA;
}

.info-pages__about {
  height: 60px;
  width: 315px;
  margin-left: 65px;
  margin-top: 98px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0,006em;
  text-align: left;
}

.info-pages__contacts {
  margin-top: 48px;
  margin-left: 64px;
}

.requisites {
  margin-top: 250px;
}

.info-pages__about__block1,
.info-pages__about__block2 {
  position: absolute;
  text-align: justify;
  width: 884px;
  height: 99px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.006em;
}

.info-pages__about__block1 {
  margin-left: 64px;
  margin-top: 48px;
}

.info-pages__about__block2 {
  margin-left: 972px;
  margin-top: 48px;
}


/* oferta */

.container__info-pages_large {
  position: absolute;
  height: 2550px;
  width: 1920px;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.container__info-pages_extra-large {
  position: absolute;
  height: 4400px;
  width: 1920px;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.info-pages__heading {
  position: absolute;
  margin-left: 65px;
  margin-top: 98px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
}

.info-pages__text {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 206px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.006em;
  text-align: justify;
  color: #0F0F0F;
}

.info-pages__text-large {
  position: absolute;
  width: 1792px;
  height: 4698px;
  left: 64px;
  top: 206px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.006em;
  text-align: justify;
  color: #0F0F0F;
}

.info-pages__text-large p {
  margin-bottom: 10px;
}

.info-pages__text-large  strong {
  margin-bottom: 20px;
}

.list__decoration_circle {
  /* list-style-type: disc; */
  list-style: circle;
  margin-left: 35px;
  margin-bottom: 10px;
  /* white-space: pre-line; */
}

.list__decoration_disc {
  list-style-type: disc;
  margin-left: 19px;
  /* list-style: disc; */
    /* display: list-item; */
  /* text-decoration: dotted; */
  /* margin-left: 19px; */
  margin-bottom: 10px;
  /* white-space: pre-line; */
}


/* account */

.container_account {
  position: absolute;
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  color: #0F0F0F;
  font-style: normal;
  background-color: #FAFAFA;
}

.account_name {
  height: 60px;
  width: 885px;
  margin-left: 65px;
  margin-top: 98px;
  background-color: inherit;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0,006em;
  text-align: left;
}

.account_menu {
  display: flex;
  width: 490px;
  height: 41px;
  margin-top: 37px;
  margin-left: 51px;
  color: #0F0F0F;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.buttons_box {
  display: flex;
  height: 30px;
  width: 500px;
  margin-top: 0px;
  align-items: center;
}
/*
.buttons_box a {
  color: #0F0F0F;
} */

.buttons_box a:focus {
  border: 1px solid #0F0F0F;
  box-sizing: border-box;
  border-radius: 110px/50px;
}

.profile,
.orders,
.preorders {
  height: 41px;
  width: 126px;
  padding-top: 12px;
}

.profile {
  width: 115px;
  margin-right: 30px;
  margin-left: 0px;
  padding-left: 18px;
}

.orders {
  width: 115px;
  margin-right: 35px;
  padding-left: 24px;
}

.preorders {
  width: 145px;
  padding-left: 18px;
}

form {
  /* display: grid; */
  width: 1072px;
  height: 230px;
  margin: 144px 0px 0px 366px;
}

.inline_div_account {
  display: inline-flex;
}

.account_string_01,
.account_string_02 {
  height: 91px;
  margin-top: 0;
  padding: 0;
  border: 0;
}

.account_string_01 {
  width: 1072px;
  margin-bottom: 48px;
}

input {
  width: 220px;
  height: 43px;
  border-width: 0;
  font-family:  inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.006em;
  background-color: #FAFAFA;
  outline: none;
}

input
#name,
#surname,
#user,
#usermail,
#pass {
  width: 220px;
  height: 43px;
  border: 0;
}

#user {
  width: 302px;
}

#usermail {
  width: 464px;
  margin-right: 144px;
}

#pass {
  width: 464px;
}

.label_name,
.label_surname {
  width: 220px;
  height: 91px;
}

.label_name {
  margin-right: 83px;
}

.label_surname{
  margin-right: 82px;
}

/*
.label_username {
  width: 301px;
  height: 91px;
} */

.label_mail {
  width: 239px;
  height: 91px;
  margin-right: 367px;
}

.label_pass {
  width: 301px;
  height: 91px;
}

input[type="password"]::-ms-reveal {
  background: #0F0F0F;
  color: #FFF;
}

.btn_sign_in,
.btn_edit,
.btn_order {
  width: 220px;
  height: 48px;
  margin-top: 48px;
  border-radius: 33px;
  outline: none;
  border: 0px;
}

.btn_sign_in,
.btn_sign_in:active,
.btn_sign_in:focus {
  margin-left: 669px;
  margin-right: 78px;
  background-image: url("btns/sign_in.svg");
}

.btn_edit,
.btn_edit:focus,
.btn_edit:active {
  background-image: url("btns/edit.svg");
}

/* account orders */

.user_orders_list {
  position: absolute;
  width: 1328px;
  height: 318px;
  margin: 367px 225px 395px 367px;
}

.user_order {
  position: absolute;
  width: 1328px;
  height: 74px;
}

.user_orders_list_item {
  width: 1328px;
  height: 74px;
  margin: 0;
}

.user_orders_list_string_1,
.user_orders_list_string_2 {
  position: relative;
  margin-bottom: 48px;
}

.user_order_metrics,
.user_order_data {
  display: inline-flex;
  width: 1328px;
  height: 74px;
  color: #0f0f0f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.006em;
  text-align: left;
}

.user_order_metrics {
  height: 25px;
}

.user_order_data {
  height: 49px;
}

.order_id,
.order_id_date,
.order_id_status,
.order_id_cost {
  width: 85px;
  height: 19px;
}

.order_id {
  margin-right: 218px;
}

.order_id_date {
  margin-right: 217px;
}

.order_id_status {
  margin-right: 218px;
}

.order_id_cost {
  width: 110px;
}

.order_id_data,
.order_id_date_data,
.order_id_status_data,
.order_id_cost_data {
  /* position: absolute; */
  width: 279px;
  height: 43px;
  /* left: 972px;
  top: 398px;
  */
}

.order_id_data {
  margin-right: 24px;
}

.order_id_date_data {
  margin-right: 23px;
}

.order_id_status_data {
  margin-right: 24px ;
}

#order_id_cost_data {
  width: 420px;
}

/*
.user_orders_list_string_2 {

}

.user_orders_list_string_3 {

} */



/* account design order */

.container_account_design_order {
  position: absolute;
  display: flex;
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  background-color: #FFF;
}

.your_design {
  height: 72px;
  width: 581px;
  margin-left: 65px;
  margin-top: 98px;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0,006em;
  text-align: left;
}

.text_design {
  /* position: absolute; */
  height: 92px;
  width: 885px;
  margin-left: 325px;
  margin-top: 120px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.account_design_order_form {
  position: absolute;
  height: 401px;
  width: 1490px;
  margin: 260px 0px 0px 366px;
  border-width: 0;
}

.inline_div {
  display: inline-flex;
}

.account_design_order_string_01 {
  /* margin-right: 142px; */
  margin-bottom: 48px;
}

.account_design_order_string_01,
.account_design_order_string_02 {
  height: 230px;
  width: 464px;
  margin-top: 0;
  padding: 0;
  border: 0;
}

.account_design_order_string_03 {
  width: 885px;
  height: 92px;
  margin-left: 605px;
  margin-top: 0;
  padding: 0;
  border: 0;
}

#email {
  width: 464px;
  height: 91px;
  margin-bottom: 48px;
}

#message {
  width: 800px;
  height: 92px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.006em;
  color: #0F0F0F;
  background-color: inherit;
  border: 0px;
  resize: none;
  outline: none;
}

.btn_order,
.btn_order:active,
.btn_order:focus {
  position: absolute;
  width: 220px;
  height: 48px;
  margin-left: 972px;
  margin-top: 709px;
  border-radius: 33px;
  background-image: url("btns/order_btn.svg");
  outline: none;
}

.wrapper_header {
  margin-top: 64px;
  display: block;
  width: 1920px;
  height: 508px;
  background-color: #FAFAFA;
}



/* sign in */

.indent_header {
  position: absolute;
}

.sign_in_banner {
  width: 227px;
  height: 60px;
  margin-top: 50px;
  margin-left: 64px;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 72px;
  letter-spacing: 0.006em;
  text-align: left;
  text-transform: uppercase;
}

.sign_in_form {
  width: 1162px;
  height: 100px;
  margin-top: 57px;
  margin-left: 367px;
}

.sign_in_string {
  height: 91px;
  margin-top: 0;
  padding: 0;
  border: 0;
}

.label_mail_sign_in {
  width: 581px;
  height: 91px;
  margin-right: 24px;
}

.btn_sign_in_b,
.btn_sign_in_b:active,
.btn_sign_in_b:focus {
  width: 220px;
  height: 48px;
  margin-top: 48px;
  margin-left: 605px;
  /* margin-right: 78px; */
  background-image: url("btns/sign_in_b.svg");
  border: 0;
  border-radius: 33px;
}

.sigh_in_txt {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.006em;
  text-align: left;
  margin-top: 95px;
  margin-left: 64px;
}

.first_string_sign_in {
  margin-top: 93px;
}

.second_string_sign_in {
  margin-top: 93px;
  margin-left: 148px;
}



/*log in style*

.forgot_pass {
  margin-top: 92px;
  margin-left: 908px;
}




/*subscribe style*/




/*wrong log in style*/


/* item card square  */
.item_card_square {
  width: 478px;
  height: 478px;
  background-color: #c4c4c4;
  display: block;
}

.item_card_square_sale {
  position: absolute;
  width: 75px;
  height: 19px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-top: 44px;
  margin-left: 48px;
}

.item_title_div{
  position: absolute;
  margin-top: 374px;
  margin-left: 48px;
  width: 320px;
  height: 58px;
  color: #000000;
}

.item_title_short {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.22px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.item_material_cost {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: normal;
  text-transform: uppercase;
}

.btn_wish {
  width: 38px;
  height: 32px;
  border: 1px solid #0f0f0f;
  background-image: url("btns/wish_heart.svg");
  background-color: #c4c4c4;
  border: 0;
  margin-top: 384px;
  margin-left: 393px;
}



/* item card vert  */

.item_card_vert {
  height: 956px;
  width: 478px;
  background-color: #c4c4c4;
  display: block;
  border-radius: 0px;
}

.item_title_div_vert{
  position: absolute;
  margin-top: 854px;
  margin-left: 48px;
  width: 320px;
  height: 58px;
  color: #000000;
}

.item_title_short_vert{
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.22px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.item_material_cost_vert{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: normal;
  text-transform: uppercase;
}
.btn_wish_vert{
  width: 38px;
  height: 32px;
  border: 1px solid #0f0f0f;
  background-image: url("btns/wish_heart.svg");
  background-color: #c4c4c4;
  border: 0;
  margin-top: 864px;
  margin-left: 392px;
}

/* item card long title */

.item_title_long_div {
  display: block;
  position: absolute;
  width: 350px;
  height: 98px;
  color: #000000;
  margin-top: 333px;
  margin-left: 48px;
}

.item_title_long {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.22px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.btn_wish_black {
  width: 38px;
  height: 32px;
  background-color: #0f0f0f;
  background-image: url("btns/wish_heart_black.svg");
  background-color: #c4c4c4;
  border: 0;
  margin-top: 384px;
  margin-left: 393px;
}

/* item card horizontal */

.item_card_hor {
  position: absolute;
  width: 956px;
  height: 478px;
  background: #c4c4c4;
  display: block;
}

.item_title_div_hor {
  position: absolute;
  width: 320px;
  height: 58px;
  margin-left: 48px;
  margin-top: 376px;
}

.item_title_hor {
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.22px;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.item_material_cost_hor {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1px;
  line-height: normal;
  text-transform: uppercase;
}

.btn_wish_hor {
  width: 38px;
  height: 32px;
  border: 1px solid #0f0f0f;
  background-image: url("btns/wish_heart.svg");
  background-color: #c4c4c4;
  border: 0;
  margin-top: 384px;
  margin-left: 871px;
}
